fastapi
uvicorn[standard]
langdetect
spacy
pydantic
python-multipart
httpx
google-generativeai
python-dotenv
langgraph
langchain-groq
langchain-community
langgraph-checkpoint-postgres
psycopg-binary
psycopg-pool
